[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/implot"]
	path = lib/implot
	url = https://github.com/epezent/implot.git
[submodule "lib/efp"]
	path = lib/efp
	url = https://github.com/cwahn/efp.git
[submodule "lib/simple-ble"]
	path = lib/simple-ble
	url = https://github.com/OpenBluetoothToolbox/SimpleBLE.git
